[Desktop Entry]
Encoding=UTF-8
Name=ePay
Comment=ePay P2P Cryptocurrency
Comment[fr]=ePay, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ePay, eşten eşe kriptografik sanal para birimi
Exec=epay-qt %u
Terminal=false
Type=Application
Icon=epay128
MimeType=x-scheme-handler/epay;
Categories=Office;Finance;
